/*Importación de fuente*/
@font-face {
    font-family: upheavtt;
    src: url('../fonts/upheavtt.ttf');
}

body{
    font-family: upheavtt;
    letter-spacing: 2px;
    background-image: url('../images/campo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bandera{
    position: absolute;
    width: 5%;
    bottom: 5%;
    left: 85%;
    height: 30%;
}

#jinete{
    position: relative;
    z-index: 2;
}

#carrera{
    position: absolute;
    top: 80%;
    width: 85%;
}

#tiempo{
    position: relative;
    width: 20%;
    height: 10%;
    left: 70%;
    bottom:6%;
    font-size: 40px;
    text-align: center;
}

#success{
    background-color:white;
    opacity: 0.8;
    position: relative;
    left: 30%;
    bottom:10%;
    width: 30%;
    height: 30%;
    color:black;
    border-radius: 10px;
    font-size: 300%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#volver{
 
    position: absolute;
    top:50%;
    right: 30%;   
}

.button{
    font-family: upheavtt;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    text-decoration: none;
    padding: 10px;
}