body{
	background-image: url("../multimedia/fondo.jpg");
	background-size: 85% ;
	background-repeat: repeat-x;
	overflow: hidden;
	
}

button{
	font-family: "upheavtt";
}

@font-face {
  font-family: "upheavtt";
  src: url("../fonts/upheavtt.ttf");
}

/*figura corriendo*/
#figura1{
	position: absolute;
	width: 120px;
	height: 120px;
	bottom: 60px;
	left: 500px;
}
/*figura salto*/
#figura2{
	position: absolute;
	width: 120px;
	height: 120px;
	bottom: 300px;
	left: 500px;
}

#suelo{
	position: absolute;
	border-radius: 10px;
	border: 1px solid white;
	bottom: 0px;
	width: 150%;
	height:9%;
	animation: desliza 0.3s linear infinite;

}

#obstaculo{
	width: 170px;
	height: 120px;
	position: absolute;
	right: -20%;
	bottom: 30px;
	animation: deslizaobstaculo 1s linear infinite;
	transform:scaleX(-1);
	background: transparent;
}

#obstaculo2{
	width: 450px;
	height: 280px;
	position: absolute;
	right: -20%;
	bottom: 60px;
}

#reloj {
  font-size:70px;
  color:#434343;
  position: absolute;
  width: 300px;
  height: 150px;
  font-family: "upheavtt";
  left: 50px;
}

#gameover{
	top: 30%;
	width: 600px;
	height: 300px;
	background-color: #918B85;
	position: absolute;
	left: 24%;
	border: solid white 1px;
	border-radius: 5deg;
}

#txtgameover{
	position: absolute;
	font-family: "upheavtt";
	font-size:70px;
	left: 18%;
}
#gameover p{
	position: absolute;
	font-family: "upheavtt";
	font-size:30px;
	left: 18%;
	top: 30%;
}

#jugar{
	position: absolute;
	top: 65%;
	width: 230px;
	height: 60px;
	left: 10%;
}

#salir{
	position: absolute;
	top: 65%;
	width: 230px;
	height: 60px;
	left: 55%;
}

#puntos{
	position: absolute;
	left: 50%;
}

@-moz-keyframes desliza {
	0%{ left: -25px; }
	25%{ left: -150 px; }
  50%{ left: -250px; }
  75%{ left: -350px; }  
  100% { left: -450px; } 
}
@-webkit-keyframes desliza {
	0%{ left: -25px; }
  50% { left: -220px; } 
  100% { left: -450px; } 
}