<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <script type="module" src="../scripts/mapa.js"></script>
    <script src="../scripts/anime.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="../styles/mapa.css">
    <title>Japón</title>
  </head>
  <body></body>
</html>