<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles/carrera.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>
<script type="text/javascript" src="./scripts/carrera.js"></script>

<body>
    <input type="button" class="button" id="reset" value="REINICIAR"></div>
    <div id="tiempo">
        <span id="minuto"></span>
        :
        <span id="segundo"></span>
    </div>
    <div id="carrera">
        <img id="jinete" src="./images/jockey.gif"></img>

    </div>
    <img id="bandera" src="./images/bandera.png"></img>

</body>

</html>