<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./styles/memory.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/memory.js"></script>
    <body>
        <div id="principal">
            <span id="cajabotones">
              <span class="button">
                <span id="contador">0</span>
                intentos
              </span>
              <span class="button">
                <a id="reset">Volver a jugar</a>
              </span> 
            </span>
            <div id="cajacartas">
            </div>
          </div>
    </body>
</html>