<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="./styles/memory.css">
      <link rel="stylesheet" type="text/css" href="./styles/botones.css">
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
      <title>Memory</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/memory.js"></script>
    <body>
        <div id="principal">
            <span id="cajabotones">
              <span class="button">
                <span id="contador">0</span>
                intentos
              </span>
              <span class="button">
                <a id="reset">Volver a jugar</a>
              </span> 
            </span>
            <div id="cajacartas">
            </div>
            <div id="mapa">
            </div>
          </div>
          <script  src="../Views/scripts/botones.js"></script>
    </body>
</html>