<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<title>Sushi Game</title>
		<link rel="stylesheet" type="text/css" href="styles/sushigame.css">
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/sushigame.js"></script>
	</head>
	<body>
		<h4 id="puntuacion">SCORE: <span name="puntos" id="puntos">0</span></h4>
		<img src="images/fondo1.png" id="fondo">
		<div id="vidas">
			<img src="images/vida1.png" id="vida1">
			<img src="images/vida1.png" id="vida2">
			<img src="images/vida1.png" id="vida3">
		</div>
		<div id="trayectoria"></div>
	</body>
</html>