html,body{
    height: 100%;
    margin: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 99.2%;
    max-height: 99.2%;
    min-width: 100%;
    max-width: 100%;
}



